<% provide(:title, 'Feed') %>

<h1><%= @user.name %>'s Main Zadamstagram Feed: </h1>

<%#= @user.followed_posts_by_date.inspect %>

<% @user.followed_posts_by_date.each do |post| %>
    User Id: <%= post.user_id %>, Post Id: <%= post.id %>
 <%= image_tag(post.pic_url, class: "feed-pic") %>
<% end %>
