<% @user.followed_posts_by_date.each do |post| %>
    User Id: <span class="user_id"><%= post.user_id %></span>,
    Post Id: <span class="post_id"><%= post.id %></span>
 <%= image_tag(post.pic_url, class: "feed-pic") %>
<%= render ('/comments/comment_template') %>

<% end %>
